@mixin button-white {
  background: white;
  color: black;
  border-radius: 5px;
  border: none; 
}

@mixin button-black {
  background: black;
  color: white;
  border-radius: 5px;
  border: none; 
}

@mixin button-grey {
  background: #F2F2F2;
  color: #7E7E7E;
  border-radius: 5px;
  border: none; 
}